*.db
*.piskel
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_ldpi.png
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_mdpi.png
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_xhdpi.png
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_xxxhdpi.png
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_xxhdpi.png
ProjectTelapart.gmx/Configs/Default/Android/icons/ouyaIcon.png
ProjectTelapart.gmx/Configs/Default/HTML5/fav.ico
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon144.png
ProjectTelapart.gmx/Configs/Default/Android/splash.png
ProjectTelapart.gmx/Configs/Default/HTML5/splash.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon114.png
ProjectTelapart.gmx/Configs/Default/iOS/iPadRetinaSplash.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon120.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon152.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon57.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon72.png
ProjectTelapart.gmx/Configs/Default/iOS/icons/icon76.png
ProjectTelapart.gmx/Configs/Default/iOS/iPadsplash.png
ProjectTelapart.gmx/Configs/Default/iOS/iPhone5splash.png
ProjectTelapart.gmx/Configs/Default/iOS/iPhone6Splash.png
ProjectTelapart.gmx/Configs/Default/iOS/iPhone6PlusSplash.png
ProjectTelapart.gmx/Configs/Default/iOS/iPhoneRetinasplash.png
ProjectTelapart.gmx/Configs/Default/iOS/iPhonesplash.png
ProjectTelapart.gmx/Configs/Default/iOS/splash.png
ProjectTelapart.gmx/Configs/Default/Linux/icon64.png
ProjectTelapart.gmx/Configs/Default/Linux/splash.png
ProjectTelapart.gmx/Configs/Default/Linux/icon64.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide1.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide2.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide3.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide4.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide5.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide6.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide7.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide8.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleWide9.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipMedBack.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipMedFront.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipSmallBack.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipSmallFront.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipWideFront.png
ProjectTelapart.gmx/Configs/Default/WinPhone/FlipWideBack.png
ProjectTelapart.gmx/Configs/Default/WinPhone/IconicSmall.png
ProjectTelapart.gmx/Configs/Default/WinPhone/IconicWide.png
ProjectTelapart.gmx/Configs/Default/WinPhone/CycleSmall.png
ProjectTelapart.gmx/Configs/Default/WinPhone/ApplicationIcon.png
ProjectTelapart.gmx/Configs/Default/WinPhone/SplashScreenImage.jpg
ProjectTelapart.gmx/Configs/Default/WinPhone/SplashScreenImage480.jpg
ProjectTelapart.gmx/Configs/Default/WinPhone/SplashScreenImage720.jpg





ProjectTelapart.gmx/Configs/Default/Mac/icon512.png
ProjectTelapart.gmx/Configs/Default/Mac/splash.png
ProjectTelapart.gmx/Configs/Default/Tizen/icon117.png
ProjectTelapart.gmx/Configs/Default/Tizen/splash.png
ProjectTelapart.gmx/Configs/Default/Windows8/logos/logo150.png
ProjectTelapart.gmx/Configs/Default/Windows8/logos/logo30.png
ProjectTelapart.gmx/Configs/Default/Windows8/logos/logo310.png
ProjectTelapart.gmx/Configs/Default/Windows8/Windows8_TemporaryKey.pfx
ProjectTelapart.gmx/Configs/Default/Windows8/logos/logo50.png
ProjectTelapart.gmx/Configs/Default/Windows8/splashscreen.png
ProjectTelapart.gmx/Configs/Default/Windows8/Win8NativeRunner_TemporaryKey.pfx
ProjectTelapart.gmx/Configs/Default/Android/icons/icon_hdpi.png
